//------------------------------------------------------
// Mixin para estilizar a primeira letra de um elemento
//
//  Exemplo de uso:
//  @include first-letter( 90px , 60px, $cor_hex );

@mixin first-letter( $size , $line-height, $color ){

    // Config
    $margin--right: 10px;


    &::first-letter{
        // Positioning
        float: left;
        margin-right: $margin--right;
        // Box-model
        // Visibility
        // Typography
        color: $color;
        font-size: $size;
        line-height: $line-height;
        font-weight: bold;
        // Visual
        // Misc
    }

    // Resolver bug do first letter que estava encavalando nos elementos debaixo
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}