//------------------------------------------
// Mixin que ajuda no uso de Display:GRID  -
//------------------------------------------

@mixin grid( $cols , $v-align: false, $grid_limit: $limit ){
    // CONFIG
    // Determina o tamanho máximo do Grid
    // Deixe 100% para fluido
    // Determina o espaçamento entre os elementos do grid
    $grid-gap: 20px;
    // Caso esteja esteja abilitado determina a altura do grid
    $grid_height: 40px;
    // Adiciona bordas no grid para facilitar a visualização
    $debug_mode: false;


    @if $grid_limit != '100%'{
        justify-content: center;
    }

    @if $grid-gap != 0px{
        grid-column-gap: $grid-gap;
        grid-row-gap: $grid-gap;
        @if( unit( $grid_limit ) == 'px' ){
            $grid_limit: $grid_limit - ( $grid-gap * ( $cols - 1 ) );
        }
    }

    @if $v-align {
        align-items: $v-align;
    }

    @if $debug_mode{
        border: 2px dashed salmon;
        box-sizing: border-box;
        > *{
            border: 2px solid red!important;

            &:nth-child(odd){
                border-color: blue!important;
            }
        }
    }

    $col_size: $grid_limit/$cols;
    display: grid;
    grid-template-columns: repeat( $cols , $col_size );

}

@mixin grid_col( $col_size ){
    grid-column-end: span $col_size;
}