//-----------------------------------
// Text-Limit
// 
// Função corta um texto que exceda uma quantidade de linhas e adiciona "..." ao final
//
// Exemplo de uso:
//  @include text-limiter( 14px , 1.2 , 4 , true );

@mixin text-limiter(  $font-size  , $line-height , $lines-to-show , $mheight: false ){

  display: block; 
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  max-width: 100%; 
  @if $mheight{
    max-height: #{$font-size*$line-height*$lines-to-show};
  }
  @else {
    height: #{$font-size*$line-height*$lines-to-show};
  }
  font-size: $font-size; 
  line-height: $line-height; 
  -webkit-line-clamp: $lines-to-show; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}