

@mixin typewrite {
    & {
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
        color: $g-quote;
        overflow: hidden;
        white-space: nowrap; 
        margin: 0 auto; 
        text-transform: uppercase;
        animation: typing 3.5s steps(200, end);

        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
    }
}