@media (min-width: 640px) {
  /* # */
}
@media (min-width: 910px) {
  /* # */
}
@media (min-width: 1140px) {
  /* # */
}
@media (min-width: 1420px) {
  /* # */
}
@media (max-width: 639px) {
  /* # */
}
@media (max-width: 909px) {
  /* # */
}
@media (max-width: 1139px) {
  /* # */
}
@media (max-width: 1419px) {
  /* # */
}
/* line 1, ../../sass/lib/_reset.scss */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* line 28, ../../sass/lib/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 38, ../../sass/lib/_reset.scss */
ul {
  list-style: none;
}

/* line 42, ../../sass/lib/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
}

/* line 49, ../../sass/lib/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, ../../sass/lib/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 62, ../../sass/lib/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 68, ../../sass/lib/_reset.scss */
input {
  line-height: normal;
}

/* line 72, ../../sass/lib/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 78, ../../sass/lib/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 83, ../../sass/lib/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 90, ../../sass/lib/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, ../../sass/lib/_reset.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

/* line 99, ../../sass/lib/_reset.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* line 106, ../../sass/lib/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 112, ../../sass/lib/_reset.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 117, ../../sass/lib/_reset.scss */
textarea {
  overflow: auto;
}

/* line 121, ../../sass/lib/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 125, ../../sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 130, ../../sass/lib/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 134, ../../sass/lib/_reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 138, ../../sass/lib/_reset.scss */
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

/* line 148, ../../sass/lib/_reset.scss */
iframe {
  border: 0;
}

/* line 152, ../../sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 157, ../../sass/lib/_reset.scss */
td,
th {
  padding: 0;
  text-align: left;
}

/* line 9, ../../sass/blocks/_land.scss */
.canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/land.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
