@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@media (min-width: 640px) {
  /* # */
}
@media (min-width: 910px) {
  /* # */
}
@media (min-width: 1140px) {
  /* # */
}
@media (min-width: 1420px) {
  /* # */
}
@media (max-width: 639px) {
  /* # */
}
@media (max-width: 909px) {
  /* # */
}
@media (max-width: 1139px) {
  /* # */
}
@media (max-width: 1419px) {
  /* # */
}
/* line 1, ../../sass/lib/_reset.scss */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* line 28, ../../sass/lib/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 38, ../../sass/lib/_reset.scss */
ul {
  list-style: none;
}

/* line 42, ../../sass/lib/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
}

/* line 49, ../../sass/lib/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, ../../sass/lib/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 62, ../../sass/lib/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 68, ../../sass/lib/_reset.scss */
input {
  line-height: normal;
}

/* line 72, ../../sass/lib/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 78, ../../sass/lib/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 83, ../../sass/lib/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 90, ../../sass/lib/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, ../../sass/lib/_reset.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

/* line 99, ../../sass/lib/_reset.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* line 106, ../../sass/lib/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 112, ../../sass/lib/_reset.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 117, ../../sass/lib/_reset.scss */
textarea {
  overflow: auto;
}

/* line 121, ../../sass/lib/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 125, ../../sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 130, ../../sass/lib/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 134, ../../sass/lib/_reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 138, ../../sass/lib/_reset.scss */
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

/* line 148, ../../sass/lib/_reset.scss */
iframe {
  border: 0;
}

/* line 152, ../../sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 157, ../../sass/lib/_reset.scss */
td,
th {
  padding: 0;
  text-align: left;
}

/* line 3, ../../sass/_generics.scss */
p {
  font-family: 'Roboto Mono', monospace;
}

/* line 15, ../../sass/blocks/_scene.scss */
.game__quote {
  display: none;
  position: absolute;
  font-size: 1.7vw;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-weight: 600;
  color: #666666;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  z-index: 2;
  width: 85vw;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
}
/* line 33, ../../sass/blocks/_scene.scss */
.game__quote.--white {
  color: #fff;
}
/* line 37, ../../sass/blocks/_scene.scss */
.game__quote.--is-active {
  display: block;
  animation: typing 5s steps(400, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 85vw;
  }
}
/* line 50, ../../sass/blocks/_scene.scss */
.game__scenario {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  background-color: #c2ffff;
}
/* line 59, ../../sass/blocks/_scene.scss */
.game__scenario.-is-disabled {
  height: 0;
  width: 0;
}

/* line 66, ../../sass/blocks/_scene.scss */
.game__scene {
  z-index: -1;
}

/* line 72, ../../sass/blocks/_scene.scss */
.game__scene {
  z-index: 1;
}

/* line 78, ../../sass/blocks/_scene.scss */
.game__mountains {
  z-index: 2;
  cursor: pointer;
}

/* line 87, ../../sass/blocks/_scene.scss */
.game__scene,
.game__mountains {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  max-width: inherit;
  transition: 5s left;
}

/* line 105, ../../sass/blocks/_scene.scss */
.game__scenario.--start .game__truck {
  left: 1vw;
  z-index: 1;
}

/* line 112, ../../sass/blocks/_scene.scss */
.game__scenario.--end .game__truck {
  left: 112vw;
  z-index: 1;
}

/* line 120, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck {
  z-index: 1;
}
/* line 122, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck {
  left: 20vw;
}
@media (min-width: 910px) {
  /* line 120, ../../sass/blocks/_scene.scss */
  .game__scenario.--step1 .game__truck {
    left: 32vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 120, ../../sass/blocks/_scene.scss */
  .game__scenario.--step1 .game__truck {
    left: 19vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 120, ../../sass/blocks/_scene.scss */
  .game__scenario.--step1 .game__truck {
    left: 20vw;
  }
}
/* line 141, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/pesquisa.png");
  bottom: 1.8vh;
  left: 9vw;
  animation: pesquisa 3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes pesquisa {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 5vw;
    height: 8vw;
  }
}
/* line 164, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/score-icon.png");
  bottom: 20vh;
  left: 3vw;
  width: 5vw;
  height: 5vw;
  animation: score 6s ease-in;
  animation-fill-mode: forwards;
}
@keyframes score {
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 204, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck__layer:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/cronometro.png");
  bottom: 8vw;
  left: 14vw;
  animation: cronometro 3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes cronometro {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 4vw;
    height: 4vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 251, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck__layer2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/placa-score.png");
  animation: placa-score 6s ease-in;
  animation-fill-mode: forwards;
  bottom: 17vw;
}
@keyframes placa-score {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 295, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck {
  z-index: 1;
}
/* line 297, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck {
  left: 20vw;
}
@media (min-width: 910px) {
  /* line 295, ../../sass/blocks/_scene.scss */
  .game__scenario.--step2 .game__truck {
    left: 32vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 295, ../../sass/blocks/_scene.scss */
  .game__scenario.--step2 .game__truck {
    left: 19vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 295, ../../sass/blocks/_scene.scss */
  .game__scenario.--step2 .game__truck {
    left: 20vw;
  }
}
/* line 316, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/pesquisa.png");
  bottom: 1.8vh;
  left: 9vw;
  animation: pesquisa 3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes pesquisa {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 5vw;
    height: 8vw;
  }
}
/* line 339, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/score-icon.png");
  bottom: 20vh;
  left: 3vw;
  width: 5vw;
  height: 5vw;
  animation: score 6s ease-in;
  animation-fill-mode: forwards;
}
@keyframes score {
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 379, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck__layer:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/check.png");
  width: 4vw;
  height: 4vw;
  bottom: 8vw;
  left: 14vw;
}
/* line 390, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck__layer2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/placa-score.png");
  animation: placa-score 6s ease-in;
  animation-fill-mode: forwards;
  bottom: 17vw;
}
@keyframes placa-score {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 434, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck {
  z-index: 1;
}
/* line 436, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck {
  left: 45vw;
}
@media (min-width: 910px) {
  /* line 434, ../../sass/blocks/_scene.scss */
  .game__scenario.--step3 .game__truck {
    left: 62vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 434, ../../sass/blocks/_scene.scss */
  .game__scenario.--step3 .game__truck {
    left: 45vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 434, ../../sass/blocks/_scene.scss */
  .game__scenario.--step3 .game__truck {
    left: 45vw;
  }
}
/* line 454, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/hand-check-phone.png");
  bottom: 1.8vh;
  left: 9vw;
  animation: phone-check 6s ease-out;
}
@keyframes phone-check {
  from {
    width: 5vw;
    height: 8vw;
  }
  to {
    width: 0;
    height: 0;
  }
}
/* line 475, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/averb-logo.png");
  bottom: 18vw;
  width: 5vw;
  height: 5vw;
  left: 2.4vw;
  animation-fill-mode: forwards;
  animation: averb 8s;
}
@keyframes averb {
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 510, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck__layer:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/sm-averb-xml.png");
  bottom: 8vh;
  animation: documentos 8s;
  animation-fill-mode: forwards;
}
@keyframes documentos {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 11vw;
    height: 7vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 553, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck__layer2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/placa-embarcador.png");
  animation: embarcador 6s ease-in;
  animation-fill-mode: forwards;
  bottom: 12.3vw;
}
@keyframes embarcador {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 597, ../../sass/blocks/_scene.scss */
.game__scenario.--step4 .game__truck {
  z-index: 1;
}
/* line 599, ../../sass/blocks/_scene.scss */
.game__scenario.--step4 .game__truck {
  left: 45vw;
}
@media (min-width: 910px) {
  /* line 597, ../../sass/blocks/_scene.scss */
  .game__scenario.--step4 .game__truck {
    left: 62vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 597, ../../sass/blocks/_scene.scss */
  .game__scenario.--step4 .game__truck {
    left: 45vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 597, ../../sass/blocks/_scene.scss */
  .game__scenario.--step4 .game__truck {
    left: 45vw;
  }
}
/* line 617, ../../sass/blocks/_scene.scss */
.game__scenario.--step4 .game__truck:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/sm.png");
  animation-fill-mode: forwards;
  animation: docs-leave 5s ease-out;
}
@keyframes docs-leave {
  0% {
    bottom: 12vw;
    left: 2.4vw;
    width: 4vw;
    height: 5vw;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    bottom: 12vh;
    left: 36.4vw;
    opacity: 0;
  }
}
/* line 644, ../../sass/blocks/_scene.scss */
.game__scenario.--step4 .game__truck:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/averb-logo.png");
  animation-fill-mode: forwards;
  animation: averb-leave 5s;
}
@keyframes averb-leave {
  0% {
    bottom: 18vw;
    left: 2.4vw;
    width: 5vw;
    height: 5vw;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    bottom: 24vh;
    left: 36.4vw;
  }
}
/* line 672, ../../sass/blocks/_scene.scss */
.game__scenario.--step4 .game__truck__layer2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/gr.png");
  animation: placa-gr 3s ease-in;
  animation-fill-mode: forwards;
  bottom: 28vw;
  left: 37.4vw;
}
@keyframes placa-gr {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 4vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 721, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__scene,
.game__scenario.--step5 .game__mountains {
  left: -76vw;
}
@media (min-width: 910px) {
  /* line 717, ../../sass/blocks/_scene.scss */
  .game__scenario.--step5 .game__scene,
  .game__scenario.--step5 .game__mountains {
    left: -116vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 717, ../../sass/blocks/_scene.scss */
  .game__scenario.--step5 .game__scene,
  .game__scenario.--step5 .game__mountains {
    left: -66vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 717, ../../sass/blocks/_scene.scss */
  .game__scenario.--step5 .game__scene,
  .game__scenario.--step5 .game__mountains {
    left: -76vw;
  }
}
/* line 738, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck {
  z-index: 1;
}
/* line 740, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck {
  left: 45vw;
}
@media (min-width: 910px) {
  /* line 738, ../../sass/blocks/_scene.scss */
  .game__scenario.--step5 .game__truck {
    left: 62vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 738, ../../sass/blocks/_scene.scss */
  .game__scenario.--step5 .game__truck {
    left: 45vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 738, ../../sass/blocks/_scene.scss */
  .game__scenario.--step5 .game__truck {
    left: 45vw;
  }
}
/* line 758, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/app-gpmobi.png");
  bottom: 18vw;
  width: 5vw;
  height: 5vw;
  left: 2.4vw;
  animation: gpmobi 8s;
  animation-fill-mode: forwards;
}
@keyframes gpmobi {
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 794, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck__layer:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/curva-perigosa.png");
  bottom: 1.8vh;
  left: 9vw;
  animation: curva-perigosa 3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes curva-perigosa {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 5vw;
    height: 8vw;
  }
}
/* line 816, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck__layer:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/speaker.png");
  bottom: 8vw;
  left: 11vw;
  animation: speaker-montanha 6s ease-in;
}
@keyframes speaker-montanha {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 5vw;
    height: 5vw;
  }
}
/* line 838, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck__layer2:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/placa-curvas-perigosas.png");
  animation: placa-curvas 5s ease-in;
  animation-fill-mode: forwards;
  bottom: 11.8vw;
}
@keyframes placa-curvas {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 886, ../../sass/blocks/_scene.scss */
.game__scenario.--step6 .game__scene,
.game__scenario.--step6 .game__mountains {
  left: -106vw;
}
@media (min-width: 910px) {
  /* line 882, ../../sass/blocks/_scene.scss */
  .game__scenario.--step6 .game__scene,
  .game__scenario.--step6 .game__mountains {
    left: -116vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 882, ../../sass/blocks/_scene.scss */
  .game__scenario.--step6 .game__scene,
  .game__scenario.--step6 .game__mountains {
    left: -114vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 882, ../../sass/blocks/_scene.scss */
  .game__scenario.--step6 .game__scene,
  .game__scenario.--step6 .game__mountains {
    left: -106vw;
  }
}
/* line 903, ../../sass/blocks/_scene.scss */
.game__scenario.--step6 .game__truck {
  z-index: 1;
}
/* line 905, ../../sass/blocks/_scene.scss */
.game__scenario.--step6 .game__truck {
  left: 60vw;
}
@media (min-width: 910px) {
  /* line 903, ../../sass/blocks/_scene.scss */
  .game__scenario.--step6 .game__truck {
    left: 62vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 903, ../../sass/blocks/_scene.scss */
  .game__scenario.--step6 .game__truck {
    left: 45vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 903, ../../sass/blocks/_scene.scss */
  .game__scenario.--step6 .game__truck {
    left: 60vw;
  }
}
/* line 926, ../../sass/blocks/_scene.scss */
.game__scenario.--step6 .game__truck__layer:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/area-indigena.png");
  bottom: 1.8vh;
  left: 9vw;
  animation: area-indigena 3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes area-indigena {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 5vw;
    height: 8vw;
  }
}
/* line 948, ../../sass/blocks/_scene.scss */
.game__scenario.--step6 .game__truck__layer:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/speaker.png");
  bottom: 8vw;
  left: 11vw;
  animation: speaker 6s ease-in;
}
@keyframes speaker {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 5vw;
    height: 5vw;
  }
}
/* line 970, ../../sass/blocks/_scene.scss */
.game__scenario.--step6 .game__truck__layer2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/placa-area-indigena.png");
  animation: indigena 6s ease-in;
  animation-fill-mode: forwards;
  bottom: 10vw;
}
@keyframes indigena {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 1017, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__scene,
.game__scenario.--step7 .game__mountains {
  left: -146vw;
}
@media (min-width: 910px) {
  /* line 1014, ../../sass/blocks/_scene.scss */
  .game__scenario.--step7 .game__scene,
  .game__scenario.--step7 .game__mountains {
    left: -236vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1014, ../../sass/blocks/_scene.scss */
  .game__scenario.--step7 .game__scene,
  .game__scenario.--step7 .game__mountains {
    left: -114vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1014, ../../sass/blocks/_scene.scss */
  .game__scenario.--step7 .game__scene,
  .game__scenario.--step7 .game__mountains {
    left: -146vw;
  }
}
/* line 1034, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck {
  z-index: 1;
}
/* line 1036, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck {
  left: 62vw;
}
@media (min-width: 910px) {
  /* line 1034, ../../sass/blocks/_scene.scss */
  .game__scenario.--step7 .game__truck {
    left: 62vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1034, ../../sass/blocks/_scene.scss */
  .game__scenario.--step7 .game__truck {
    left: 85vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1034, ../../sass/blocks/_scene.scss */
  .game__scenario.--step7 .game__truck {
    left: 62vw;
  }
}
/* line 1056, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck__layer2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/placa-almoco.png");
  animation: almoco 6s ease-in;
  animation-fill-mode: forwards;
  bottom: 10vw;
}
@keyframes almoco {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 1104, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__scene,
.game__scenario.--step8 .game__mountains {
  left: -219vw;
}
@media (min-width: 910px) {
  /* line 1101, ../../sass/blocks/_scene.scss */
  .game__scenario.--step8 .game__scene,
  .game__scenario.--step8 .game__mountains {
    left: -310vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1101, ../../sass/blocks/_scene.scss */
  .game__scenario.--step8 .game__scene,
  .game__scenario.--step8 .game__mountains {
    left: -180vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1101, ../../sass/blocks/_scene.scss */
  .game__scenario.--step8 .game__scene,
  .game__scenario.--step8 .game__mountains {
    left: -219vw;
  }
}
/* line 1121, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck {
  z-index: 1;
}
/* line 1123, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck {
  left: 28vw;
}
@media (min-width: 910px) {
  /* line 1121, ../../sass/blocks/_scene.scss */
  .game__scenario.--step8 .game__truck {
    left: 28vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1121, ../../sass/blocks/_scene.scss */
  .game__scenario.--step8 .game__truck {
    left: 67vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1121, ../../sass/blocks/_scene.scss */
  .game__scenario.--step8 .game__truck {
    left: 28vw;
  }
}
/* line 1141, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck:after, .game__scenario.--step8 .game__truck:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}
/* line 1154, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck__layer2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/placa-pernoite.png");
  animation: placa-pernoite 6s ease-in;
  animation-fill-mode: forwards;
  bottom: 10vw;
}
@keyframes placa-pernoite {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 1202, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__scene,
.game__scenario.--step9 .game__mountains {
  left: -219vw;
}
@media (min-width: 910px) {
  /* line 1199, ../../sass/blocks/_scene.scss */
  .game__scenario.--step9 .game__scene,
  .game__scenario.--step9 .game__mountains {
    left: -310vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1199, ../../sass/blocks/_scene.scss */
  .game__scenario.--step9 .game__scene,
  .game__scenario.--step9 .game__mountains {
    left: -180vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1199, ../../sass/blocks/_scene.scss */
  .game__scenario.--step9 .game__scene,
  .game__scenario.--step9 .game__mountains {
    left: -219vw;
  }
}
/* line 1219, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck {
  z-index: 1;
  left: 75vw;
}
/* line 1223, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck {
  left: 55vw;
}
@media (min-width: 910px) {
  /* line 1219, ../../sass/blocks/_scene.scss */
  .game__scenario.--step9 .game__truck {
    left: 55vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1219, ../../sass/blocks/_scene.scss */
  .game__scenario.--step9 .game__truck {
    left: 84vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1219, ../../sass/blocks/_scene.scss */
  .game__scenario.--step9 .game__truck {
    left: 55vw;
  }
}
/* line 1240, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck:after, .game__scenario.--step9 .game__truck:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}
/* line 1251, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck:after {
  bottom: -2.8vh;
  left: 0.2vw;
  background-image: url("../../assets/img/smoke.png");
  animation: smoke 8s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes smoke {
  from {
    opacity: 0;
    height: 0;
    width: 0;
  }
  to {
    opacity: 1;
    height: 3vh;
    width: 3vw;
  }
}
/* line 1272, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck:before {
  background-image: url("../../assets/img/caixas.png");
  z-index: 1;
  animation: caixas 5s ease-in;
  animation-fill-mode: forwards;
}
@keyframes caixas {
  from {
    height: 0;
    width: 0;
    right: 7vw;
    bottom: 0vw;
  }
  to {
    right: 11vw;
    bottom: -2vw;
    width: 4vw;
    height: 6vh;
  }
}
/* line 1298, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck__layer:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/nfe.png");
  animation: nota-fiscal 2s ease-in;
  animation-fill-mode: forwards;
  bottom: 5vw;
}
@keyframes nota-fiscal {
  from {
    width: 0;
    height: 0;
  }
  to {
    height: 5vw;
    width: 5vw;
  }
}
/* line 1320, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck__layer2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/placa-regulador-de-sinistro.png");
  animation: placa-sinistro 6s ease-in;
  animation-fill-mode: forwards;
  bottom: 10vw;
}
@keyframes placa-sinistro {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 1360, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck__layer2::before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/flash.png");
  bottom: -16vw;
  animation: flash 3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes flash {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 16vw;
  }
}
/* line 1389, ../../sass/blocks/_scene.scss */
.game__scenario.--step10 .game__scene,
.game__scenario.--step10 .game__mountains {
  left: -244vw;
}
@media (min-width: 910px) {
  /* line 1386, ../../sass/blocks/_scene.scss */
  .game__scenario.--step10 .game__scene,
  .game__scenario.--step10 .game__mountains {
    left: -244vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1386, ../../sass/blocks/_scene.scss */
  .game__scenario.--step10 .game__scene,
  .game__scenario.--step10 .game__mountains {
    left: -228vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1386, ../../sass/blocks/_scene.scss */
  .game__scenario.--step10 .game__scene,
  .game__scenario.--step10 .game__mountains {
    left: -244vw;
  }
}
/* line 1406, ../../sass/blocks/_scene.scss */
.game__scenario.--step10 .game__truck {
  z-index: 1;
}
/* line 1408, ../../sass/blocks/_scene.scss */
.game__scenario.--step10 .game__truck {
  left: 72vw;
}
@media (min-width: 910px) {
  /* line 1406, ../../sass/blocks/_scene.scss */
  .game__scenario.--step10 .game__truck {
    left: 75vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1406, ../../sass/blocks/_scene.scss */
  .game__scenario.--step10 .game__truck {
    left: 72vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1406, ../../sass/blocks/_scene.scss */
  .game__scenario.--step10 .game__truck {
    left: 72vw;
  }
}
/* line 1428, ../../sass/blocks/_scene.scss */
.game__scenario.--step10 .game__truck__layer2:after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/carga.png");
  z-index: -1;
  animation: carga-transporte 5s ease-in;
  animation-fill-mode: forwards;
}
@keyframes carga-transporte {
  from {
    height: 0;
    width: 0;
    right: 7vw;
    bottom: 0vw;
  }
  to {
    right: 11vw;
    bottom: -2vw;
    width: 4vw;
    height: 6vh;
  }
}
/* line 1461, ../../sass/blocks/_scene.scss */
.game__scenario.--step11 .game__scene,
.game__scenario.--step11 .game__mountains {
  left: -253vw;
}
@media (min-width: 910px) {
  /* line 1458, ../../sass/blocks/_scene.scss */
  .game__scenario.--step11 .game__scene,
  .game__scenario.--step11 .game__mountains {
    left: -410vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1458, ../../sass/blocks/_scene.scss */
  .game__scenario.--step11 .game__scene,
  .game__scenario.--step11 .game__mountains {
    left: -237vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1458, ../../sass/blocks/_scene.scss */
  .game__scenario.--step11 .game__scene,
  .game__scenario.--step11 .game__mountains {
    left: -253vw;
  }
}
/* line 1478, ../../sass/blocks/_scene.scss */
.game__scenario.--step11 .game__truck {
  z-index: 1;
}
/* line 1480, ../../sass/blocks/_scene.scss */
.game__scenario.--step11 .game__truck {
  left: 80vw;
}
@media (min-width: 910px) {
  /* line 1478, ../../sass/blocks/_scene.scss */
  .game__scenario.--step11 .game__truck {
    left: 82vw;
  }
}
@media screen and (min-width: 1366px) {
  /* line 1478, ../../sass/blocks/_scene.scss */
  .game__scenario.--step11 .game__truck {
    left: 82vw;
  }
}
@media screen and (min-width: 1920px) {
  /* line 1478, ../../sass/blocks/_scene.scss */
  .game__scenario.--step11 .game__truck {
    left: 80vw;
  }
}
/* line 1500, ../../sass/blocks/_scene.scss */
.game__scenario.--step11 .game__truck__layer2:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/placa-comprador.png");
  animation: placa-score 6s ease-in;
  animation-fill-mode: forwards;
  bottom: 17vw;
}
@keyframes placa-score {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10vw;
    height: 6vw;
  }
  from,
                60%,
                75%,
                90%,
                to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 6, ../../sass/blocks/_intro.scss */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 17, ../../sass/blocks/_intro.scss */
.intro.-is-disabled {
  height: 0;
  width: 0;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
}

/* line 27, ../../sass/blocks/_intro.scss */
.intro__list {
  text-align: center;
}

/* line 33, ../../sass/blocks/_intro.scss */
.intro__logo {
  max-width: 10vw;
  height: auto;
  margin-bottom: 5vw;
}

/* line 7, ../../sass/mixins/_buttons.scss */
.intro__start {
  width: 100%;
  max-width: 20vw;
  line-height: 10vh;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.2vw;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  transition: 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  margin-bottom: 1vw;
}
/* line 20, ../../sass/mixins/_buttons.scss */
.intro__start.--yellow {
  border: 2px solid #ef9920;
  color: #ef9920;
}
/* line 25, ../../sass/mixins/_buttons.scss */
.intro__start.--purple {
  border: 2px solid #49619d;
  color: #49619d;
}
/* line 30, ../../sass/mixins/_buttons.scss */
.intro__start.--blue {
  border: 2px solid #308fc8;
  color: #308fc8;
}
/* line 35, ../../sass/mixins/_buttons.scss */
.intro__start.--red {
  border: 2px solid #d04322;
  color: #d04322;
}
/* line 41, ../../sass/mixins/_buttons.scss */
.intro__start:last-child {
  margin-bottom: 0;
}
/* line 48, ../../sass/mixins/_buttons.scss */
.intro__start:hover, .intro__start:focus {
  transition: 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  color: white;
}
/* line 53, ../../sass/mixins/_buttons.scss */
.intro__start:hover.--yellow, .intro__start:focus.--yellow {
  background-color: #ef9920;
}
/* line 57, ../../sass/mixins/_buttons.scss */
.intro__start:hover.--purple, .intro__start:focus.--purple {
  background-color: #49619d;
}
/* line 61, ../../sass/mixins/_buttons.scss */
.intro__start:hover.--blue, .intro__start:focus.--blue {
  background-color: #308fc8;
}
/* line 65, ../../sass/mixins/_buttons.scss */
.intro__start:hover.--red, .intro__start:focus.--red {
  background-color: #d04322;
}

/* line 6, ../../sass/blocks/_truck.scss */
.game__truck {
  position: absolute;
  bottom: 21.8vh;
  left: -12vw;
  z-index: -1;
  width: 12vw;
  height: auto;
  will-change: transition;
  transition: 5s left;
}
/* line 18, ../../sass/blocks/_truck.scss */
.game__truck.--guep {
  bottom: 20.4vh;
}

/* line 27, ../../sass/blocks/_truck.scss */
.truck__animation--a::before, .truck__animation--a::after,
.truck__animation--b::before,
.truck__animation--b::after {
  content: ' ';
  position: absolute;
  top: 4vw;
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
  width: 1.5vw;
  height: 1.5vw;
  will-change: transition;
  transition: 2s animation;
}

/* line 45, ../../sass/blocks/_truck.scss */
.truck__animation--a::after {
  left: 8.9vw;
  background-image: url("../../assets/img/truck-wheel.png");
  transition: 2s animation;
}

/* line 54, ../../sass/blocks/_truck.scss */
.truck__animation--b::after, .truck__animation--b::before {
  background-image: url("../../assets/img/truck-wheel.png");
  transition: 2s animation;
}
/* line 60, ../../sass/blocks/_truck.scss */
.truck__animation--b::after {
  left: 3.6vw;
  transition: 2s animation;
}
/* line 65, ../../sass/blocks/_truck.scss */
.truck__animation--b::before {
  left: 1.7vw;
  transition: 2s animation;
}

/* line 72, ../../sass/blocks/_truck.scss */
.truck__structure {
  display: block;
  position: relative;
  margin-bottom: -2vh;
  width: 12vw;
  z-index: 1;
}

/* line 85, ../../sass/blocks/_truck.scss */
.game__scenario.--driving .truck__animation--a::after, .game__scenario.--driving .truck__animation--a::before,
.game__scenario.--driving .truck__animation--b::after,
.game__scenario.--driving .truck__animation--b::before {
  will-change: transition;
  transition: 2s animation;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 7, ../../sass/blocks/_controllers.scss */
.game__next-step {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 4;
}
