@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@media (min-width: 640px) {
  /* # */
}
@media (min-width: 910px) {
  /* # */
}
@media (min-width: 1140px) {
  /* # */
}
@media (min-width: 1420px) {
  /* # */
}
@media (max-width: 639px) {
  /* # */
}
@media (max-width: 909px) {
  /* # */
}
@media (max-width: 1139px) {
  /* # */
}
@media (max-width: 1419px) {
  /* # */
}
/* line 1, ../../sass/lib/_reset.scss */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* line 28, ../../sass/lib/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 38, ../../sass/lib/_reset.scss */
ul {
  list-style: none;
}

/* line 42, ../../sass/lib/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
}

/* line 49, ../../sass/lib/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, ../../sass/lib/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 62, ../../sass/lib/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 68, ../../sass/lib/_reset.scss */
input {
  line-height: normal;
}

/* line 72, ../../sass/lib/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 78, ../../sass/lib/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 83, ../../sass/lib/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 90, ../../sass/lib/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, ../../sass/lib/_reset.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

/* line 99, ../../sass/lib/_reset.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* line 106, ../../sass/lib/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 112, ../../sass/lib/_reset.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 117, ../../sass/lib/_reset.scss */
textarea {
  overflow: auto;
}

/* line 121, ../../sass/lib/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 125, ../../sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 130, ../../sass/lib/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 134, ../../sass/lib/_reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 138, ../../sass/lib/_reset.scss */
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

/* line 148, ../../sass/lib/_reset.scss */
iframe {
  border: 0;
}

/* line 152, ../../sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 157, ../../sass/lib/_reset.scss */
td,
th {
  padding: 0;
  text-align: left;
}

/* line 3, ../../sass/_generics.scss */
p {
  font-family: 'Roboto Mono', monospace;
}

/* line 6, ../../sass/blocks/_scene.scss */
.game__quote {
  display: none;
  position: absolute;
  font-size: 1.7vw;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-weight: 600;
  color: #666666;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  z-index: 2;
  width: 85vw;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
}
/* line 24, ../../sass/blocks/_scene.scss */
.game__quote.--white {
  color: #fff;
}
/* line 28, ../../sass/blocks/_scene.scss */
.game__quote.--is-active {
  display: block;
  animation: typing 5s steps(400, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 85vw;
  }
}
/* line 41, ../../sass/blocks/_scene.scss */
.game__scenario {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
  background-color: #c2ffff;
}
/* line 50, ../../sass/blocks/_scene.scss */
.game__scenario.-is-disabled {
  height: 0;
  width: 0;
}

/* line 57, ../../sass/blocks/_scene.scss */
.game__scene {
  z-index: -1;
}

/* line 63, ../../sass/blocks/_scene.scss */
.game__scene {
  z-index: 1;
}

/* line 69, ../../sass/blocks/_scene.scss */
.game__mountains {
  z-index: 2;
  cursor: pointer;
}

/* line 78, ../../sass/blocks/_scene.scss */
.game__scene,
.game__mountains {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  max-width: inherit;
  transition: 5s left;
}

/* line 95, ../../sass/blocks/_scene.scss */
.game__scenario.--start .game__truck {
  left: 6vw;
  z-index: 1;
}
/* line 101, ../../sass/blocks/_scene.scss */
.game__scenario.--start .game__truck.--guep {
  left: 2vw;
}

/* line 108, ../../sass/blocks/_scene.scss */
.game__scenario.--end .game__truck {
  left: 112vw;
  z-index: 1;
}

/* line 118, ../../sass/blocks/_scene.scss */
.game__scenario.--start .game__typewriter {
  position: absolute;
  top: 5vw;
  left: 0;
  right: 0;
  display: inline-block;
  margin: 0 auto;
  padding: 0 19vw;
}

/* line 132, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck {
  left: 26vw;
  z-index: 1;
}
/* line 136, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck.--guep {
  left: 22vw;
}
/* line 145, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck.--guep:after {
  bottom: 2.8vh;
  background-image: url("../../assets/img/hand-cpf-guep.png");
}
/* line 151, ../../sass/blocks/_scene.scss */
.game__scenario.--step1 .game__truck:after {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../../assets/img/hand-cpf.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 4.8vh;
  left: 9vw;
  animation: interation 3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes interation {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 5vw;
    height: 8vw;
  }
}
/* line 182, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck {
  left: 26vw;
  z-index: 1;
}
/* line 187, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck:after {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../../assets/img/hand-cpf.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 4.8vh;
  left: 9vw;
  width: 5vw;
  height: 8vw;
}
/* line 201, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck.--guep {
  left: 52vw;
}
/* line 205, ../../sass/blocks/_scene.scss */
.game__scenario.--step2 .game__truck.--guep:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 2.8vh;
  background-image: url("../../assets/img/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: 9vw;
  animation: interation 3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes interation {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 5vw;
    height: 8vw;
  }
}
/* line 237, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck {
  left: 26vw;
  z-index: 1;
}
/* line 242, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck:after {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../../assets/img/hand-cpf.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 4.8vh;
  left: 9vw;
  width: 5vw;
  height: 8vw;
}
/* line 256, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck.--guep {
  left: 52vw;
}
/* line 260, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck.--guep:after, .game__scenario.--step3 .game__truck.--guep:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 269, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck.--guep:after {
  left: 8vw;
  width: 5vw;
  height: 8vw;
  bottom: 2.8vh;
  left: 9vw;
  background-image: url("../../assets/img/phone.png");
}
/* line 278, ../../sass/blocks/_scene.scss */
.game__scenario.--step3 .game__truck.--guep:before {
  left: 7.4vw;
  bottom: 15vh;
  background-image: url("../../assets/img/cte-nfe-mdfe.png");
  animation: apps 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}
@keyframes apps {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 11vw;
    height: 13vh;
  }
}
/* line 305, ../../sass/blocks/_scene.scss */
.game__scenario.--step4 .game__truck {
  left: 26vw;
  z-index: 1;
}
/* line 311, ../../sass/blocks/_scene.scss */
.game__scenario.--step4 .game__truck.--guep {
  left: 52vw;
}
/* line 315, ../../sass/blocks/_scene.scss */
.game__scenario.--step4 .game__truck.--guep:after, .game__scenario.--step4 .game__truck.--guep:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 324, ../../sass/blocks/_scene.scss */
.game__scenario.--step4 .game__truck.--guep:after {
  left: 8vw;
  width: 5vw;
  height: 8vw;
  bottom: 2.8vh;
  left: 9vw;
  background-image: url("../../assets/img/hand-check-phone.png");
}

/* line 338, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__scene,
.game__scenario.--step5 .game__mountains {
  left: -270px;
}
/* line 345, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck {
  left: 66vw;
  z-index: 1;
}
/* line 351, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck.--guep {
  left: 78vw;
}
/* line 355, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck.--guep:after, .game__scenario.--step5 .game__truck.--guep:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 364, ../../sass/blocks/_scene.scss */
.game__scenario.--step5 .game__truck.--guep:after {
  right: 6.2vw;
  bottom: 57vh;
  background-image: url("../../assets/img/sm-averb-xml.png");
  animation: bounceInDown 8s;
  animation-fill-mode: forwards;
}
@keyframes bounceInDown {
  from,
                    60%,
                    75%,
                    90%,
                    to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  to {
    width: 11vw;
    height: 13vh;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 406, ../../sass/blocks/_scene.scss */
.game__scenario.--step6 .game__scene,
.game__scenario.--step6 .game__mountains {
  left: -2260px;
}
/* line 411, ../../sass/blocks/_scene.scss */
.game__scenario.--step6 .game__truck,
.game__scenario.--step6 .game__truck.--guep {
  left: 11vw;
  z-index: 1;
}

/* line 421, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__scene,
.game__scenario.--step7 .game__mountains {
  left: -2500px;
}
/* line 426, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck {
  z-index: 1;
}
/* line 429, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck.--guep {
  left: 76vw;
}
/* line 432, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck.--guep:after, .game__scenario.--step7 .game__truck.--guep:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}
/* line 443, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck.--guep:after {
  bottom: -2.8vh;
  left: 0.2vw;
  background-image: url("../../assets/img/smoke.png");
  animation: smoke 8s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes smoke {
  from {
    opacity: 0;
    height: 0;
    width: 0;
  }
  to {
    opacity: 1;
    height: 3vh;
    width: 3vw;
  }
}
/* line 464, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck.--guep:before {
  left: 8vw;
  width: 5vw;
  height: 8vw;
  bottom: 2.8vh;
  left: 9vw;
  z-index: -1;
  background-image: url("../../assets/img/hand-check-phone.png");
  animation: interation 3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes interation {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 5vw;
    height: 8vw;
  }
}
/* line 490, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck.--concorrente {
  left: 75vw;
}
/* line 493, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck.--concorrente:after, .game__scenario.--step7 .game__truck.--concorrente:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}
/* line 504, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck.--concorrente:after {
  bottom: -2.8vh;
  left: 0.2vw;
  background-image: url("../../assets/img/smoke.png");
  animation: smoke 8s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes smoke {
  from {
    opacity: 0;
    height: 0;
    width: 0;
  }
  to {
    opacity: 1;
    height: 3vh;
    width: 3vw;
  }
}
/* line 525, ../../sass/blocks/_scene.scss */
.game__scenario.--step7 .game__truck.--concorrente:before {
  background-image: url("../../assets/img/caixas.png");
  z-index: 1;
  animation: caixas 5s ease-in;
  animation-fill-mode: forwards;
}
@keyframes caixas {
  from {
    height: 0;
    width: 0;
    right: 7vw;
    bottom: 0vw;
  }
  to {
    right: 11vw;
    bottom: -2vw;
    width: 4vw;
    height: 6vh;
  }
}
/* line 553, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck {
  z-index: 1;
}
/* line 557, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck.--guep {
  left: 80vw;
}
/* line 561, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck.--concorrente {
  left: 57vw;
}
/* line 564, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck.--concorrente:after, .game__scenario.--step8 .game__truck.--concorrente:before {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}
/* line 575, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck.--concorrente:after {
  bottom: -2.8vh;
  left: 0.2vw;
  background-image: url("../../assets/img/smoke.png");
  animation: smoke 8s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes smoke {
  from {
    opacity: 0;
    height: 0;
    width: 0;
  }
  to {
    opacity: 1;
    height: 3vh;
    width: 3vw;
  }
}
/* line 596, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__truck.--concorrente:before {
  content: ' ';
  right: 11vw;
  bottom: -2vw;
  width: 4vw;
  height: 6vh;
  background-image: url("../../assets/img/caixas.png");
  z-index: 1;
  animation: caixas 5s ease-in;
  animation-fill-mode: forwards;
}
/* line 609, ../../sass/blocks/_scene.scss */
.game__scenario.--step8 .game__scene,
.game__scenario.--step8 .game__mountains {
  left: -2850px;
}

/* line 617, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck {
  z-index: 1;
}
/* line 621, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck.--concorrente {
  left: -12vw;
}
/* line 625, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__truck.--guep {
  left: 46vw;
}
/* line 629, ../../sass/blocks/_scene.scss */
.game__scenario.--step9 .game__scene,
.game__scenario.--step9 .game__mountains {
  left: -4390px;
}

/* line 637, ../../sass/blocks/_scene.scss */
.game__scenario.--step10 .game__truck {
  z-index: 1;
}
/* line 641, ../../sass/blocks/_scene.scss */
.game__scenario.--step10 .game__truck.--concorrente {
  left: -12vw;
}
/* line 645, ../../sass/blocks/_scene.scss */
.game__scenario.--step10 .game__truck.--guep {
  left: 46vw;
}
/* line 649, ../../sass/blocks/_scene.scss */
.game__scenario.--step10 .game__scene,
.game__scenario.--step10 .game__mountains {
  left: -5630px;
}

/* line 657, ../../sass/blocks/_scene.scss */
.game__scenario.--step11 .game__truck {
  z-index: 1;
}
/* line 661, ../../sass/blocks/_scene.scss */
.game__scenario.--step11 .game__truck.--concorrente {
  left: -12vw;
}
/* line 665, ../../sass/blocks/_scene.scss */
.game__scenario.--step11 .game__truck.--guep {
  left: 78vw;
}
/* line 668, ../../sass/blocks/_scene.scss */
.game__scenario.--step11 .game__truck.--guep:after {
  display: block;
  content: ' ';
  position: absolute;
  width: 6vw;
  height: 8vw;
  bottom: 2.8vh;
  left: 9vw;
  background-image: url("../../assets/img/hand-signature-guep.png");
}
/* line 681, ../../sass/blocks/_scene.scss */
.game__scenario.--step11 .game__scene,
.game__scenario.--step11 .game__mountains {
  left: -5630px;
}

/* line 689, ../../sass/blocks/_scene.scss */
.game__scenario.--step12 .game__truck {
  z-index: 1;
}
/* line 693, ../../sass/blocks/_scene.scss */
.game__scenario.--step12 .game__truck.--concorrente {
  left: -12vw;
}
/* line 697, ../../sass/blocks/_scene.scss */
.game__scenario.--step12 .game__truck.--guep {
  left: 100vw;
}
/* line 701, ../../sass/blocks/_scene.scss */
.game__scenario.--step12 .game__scene,
.game__scenario.--step12 .game__mountains {
  left: -5630px;
}

/* line 709, ../../sass/blocks/_scene.scss */
.game__scenario.--step13:after {
  content: ' ';
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/img/guep-favicon.png");
  background-repeat: no-repeat;
  width: 10vw;
  height: 16vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 50%;
}
/* line 723, ../../sass/blocks/_scene.scss */
.game__scenario.--step13 .game__blur {
  transition: filter 3s ease-in;
  filter: blur(100px);
}
/* line 728, ../../sass/blocks/_scene.scss */
.game__scenario.--step13 .game__truck {
  z-index: 1;
}
/* line 732, ../../sass/blocks/_scene.scss */
.game__scenario.--step13 .game__truck.--concorrente {
  left: -12vw;
}
/* line 736, ../../sass/blocks/_scene.scss */
.game__scenario.--step13 .game__truck.--guep {
  left: 100vw;
}
/* line 740, ../../sass/blocks/_scene.scss */
.game__scenario.--step13 .game__scene,
.game__scenario.--step13 .game__mountains {
  left: -5630px;
}

/* line 6, ../../sass/blocks/_intro.scss */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 17, ../../sass/blocks/_intro.scss */
.intro.-is-disabled {
  height: 0;
  width: 0;
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
}

/* line 27, ../../sass/blocks/_intro.scss */
.intro__list {
  text-align: center;
}

/* line 33, ../../sass/blocks/_intro.scss */
.intro__logo {
  max-width: 10vw;
  height: auto;
  margin-bottom: 5vw;
}

/* line 7, ../../sass/mixins/_buttons.scss */
.intro__start {
  width: 100%;
  max-width: 20vw;
  line-height: 10vh;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.2vw;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  transition: 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  margin-bottom: 1vw;
}
/* line 20, ../../sass/mixins/_buttons.scss */
.intro__start.--yellow {
  border: 2px solid #ef9920;
  color: #ef9920;
}
/* line 25, ../../sass/mixins/_buttons.scss */
.intro__start.--purple {
  border: 2px solid #49619d;
  color: #49619d;
}
/* line 30, ../../sass/mixins/_buttons.scss */
.intro__start.--blue {
  border: 2px solid #308fc8;
  color: #308fc8;
}
/* line 35, ../../sass/mixins/_buttons.scss */
.intro__start.--red {
  border: 2px solid #d04322;
  color: #d04322;
}
/* line 41, ../../sass/mixins/_buttons.scss */
.intro__start:last-child {
  margin-bottom: 0;
}
/* line 48, ../../sass/mixins/_buttons.scss */
.intro__start:hover, .intro__start:focus {
  transition: 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  color: white;
}
/* line 53, ../../sass/mixins/_buttons.scss */
.intro__start:hover.--yellow, .intro__start:focus.--yellow {
  background-color: #ef9920;
}
/* line 57, ../../sass/mixins/_buttons.scss */
.intro__start:hover.--purple, .intro__start:focus.--purple {
  background-color: #49619d;
}
/* line 61, ../../sass/mixins/_buttons.scss */
.intro__start:hover.--blue, .intro__start:focus.--blue {
  background-color: #308fc8;
}
/* line 65, ../../sass/mixins/_buttons.scss */
.intro__start:hover.--red, .intro__start:focus.--red {
  background-color: #d04322;
}

/* line 6, ../../sass/blocks/_truck.scss */
.game__truck {
  position: absolute;
  bottom: 21.8vh;
  left: -12vw;
  z-index: -1;
  width: 12vw;
  height: auto;
  will-change: transition;
  transition: 5s left;
}
/* line 18, ../../sass/blocks/_truck.scss */
.game__truck.--guep {
  bottom: 20.4vh;
}

/* line 27, ../../sass/blocks/_truck.scss */
.truck__animation--a::before, .truck__animation--a::after,
.truck__animation--b::before,
.truck__animation--b::after {
  content: ' ';
  position: absolute;
  top: 4vw;
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
  width: 1.5vw;
  height: 1.5vw;
  will-change: transition;
  transition: 2s animation;
}

/* line 45, ../../sass/blocks/_truck.scss */
.truck__animation--a::after {
  left: 8.9vw;
  background-image: url("../../assets/img/truck-wheel.png");
  transition: 2s animation;
}

/* line 54, ../../sass/blocks/_truck.scss */
.truck__animation--b::after, .truck__animation--b::before {
  background-image: url("../../assets/img/truck-wheel.png");
  transition: 2s animation;
}
/* line 60, ../../sass/blocks/_truck.scss */
.truck__animation--b::after {
  left: 3.6vw;
  transition: 2s animation;
}
/* line 65, ../../sass/blocks/_truck.scss */
.truck__animation--b::before {
  left: 1.7vw;
  transition: 2s animation;
}

/* line 72, ../../sass/blocks/_truck.scss */
.truck__structure {
  display: block;
  position: relative;
  margin-bottom: -2vh;
  width: 12vw;
  z-index: 1;
}

/* line 85, ../../sass/blocks/_truck.scss */
.game__scenario.--driving .truck__animation--a::after, .game__scenario.--driving .truck__animation--a::before,
.game__scenario.--driving .truck__animation--b::after,
.game__scenario.--driving .truck__animation--b::before {
  will-change: transition;
  transition: 2s animation;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 7, ../../sass/blocks/_controllers.scss */
.game__next-step {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 4;
}
