//-----------------------------------
// BLOCK
//-----------------------------------
// Descrição:
// Componente de exemplo, não adicione ao blocks.scss
//

.canvas {
    & {
        display: block;
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/img/land.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}