//---------------------
// Section Scene
//---------------------

.game__quote {
    & {
        display: none;
        position: absolute;
        font-size: 1.7vw;
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        font-weight: 600;
        color: #666666;
        overflow: hidden;
        white-space: nowrap; 
        margin: 0 auto; 
        z-index: 2;
        width: 85vw;
        top: 10vh;
        left: 50%;
        transform: translate(-50%);
    }

    &.--white {
        color: #fff;
    }

    &.--is-active {
        display: block;
        animation: typing 5s steps(400,end);
    }

        @keyframes typing {
            from { width: 0 }
            to { width: 85vw }
        }
}

.game__scenario {
    
    & {
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        z-index: 1;
        background-color: $day;
    }

    &.-is-disabled {
        height: 0;
        width: 0;
    }
}

.game__scene {
    & {
        z-index: -1;
    }
}

.game__scene {
    & {
        z-index: 1;
    }
}

.game__mountains {
    & {
        z-index: 2;
        cursor: pointer;
    }
}

.game__scene,
.game__mountains {
    
    & {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: auto;
        max-width: inherit;
        transition: 5s left;
    }
}


//-------------------------
// Steps e Objetos da Cena
//-------------------------

.game__scenario.--start .game__truck {
    & {
        left: 6vw; 
        z-index: 1;
    }

    &.--guep {
        & {
            left: 2vw;
        }
    }
}

.game__scenario.--end .game__truck {
    & {
        left: 112vw;
        z-index: 1;
    }
}

.game__scenario.--start {
    
    .game__typewriter {
        
        & {
            position: absolute;
            top: 5vw;
            left: 0;
            right: 0;
            display: inline-block;
            margin: 0 auto;
            padding: 0 19vw;
        }
    }
}

.game__scenario.--step1 {
    
    .game__truck {
        left: 26vw;
        z-index: 1;

        &.--guep {
            left: 22vw;
        }
    }

    .game__truck {
        
        &.--guep {
            
            &:after {
                bottom: 2.8vh;
                background-image: url('../../assets/img/hand-cpf-guep.png');
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            background-image: url('../../assets/img/hand-cpf.png');
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 4.8vh;
            left: 9vw;
            animation: interation 3s ease-in;
            animation-fill-mode: forwards;
            
            @keyframes interation {
                
                from {
                    width: 0;
                    height: 0;
                }
                
                to {
                    width: 5vw;
                    height: 8vw;
                }
            }
        }
    }
}

.game__scenario.--step2 {

    .game__truck {
        & {
            left: 26vw;
            z-index: 1;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            background-image: url('../../assets/img/hand-cpf.png');
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 4.8vh;
            left: 9vw;
            width: 5vw;
            height: 8vw;
        }

        &.--guep {
            & {
                left: 52vw;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 2.8vh;
                background-image: url('../../assets/img/phone.png');
                background-repeat: no-repeat;
                background-size: cover;
                left: 9vw;
                animation: interation 3s ease-in;
                animation-fill-mode: forwards;
                
                @keyframes interation {
                    
                    from {
                        width: 0;
                        height: 0;
                    }
                    
                    to {
                        width: 5vw;
                        height: 8vw;
                    }
                }
            }
        }
    }
}

.game__scenario.--step3 {

    .game__truck {
        & {
            left: 26vw;
            z-index: 1;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            background-image: url('../../assets/img/hand-cpf.png');
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 4.8vh;
            left: 9vw;
            width: 5vw;
            height: 8vw;
        }

        &.--guep {
            & {
                left: 52vw;
            }

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:after {
                left: 8vw;
                width: 5vw;
                height: 8vw;
                bottom: 2.8vh;
                left: 9vw;
                background-image: url('../../assets/img/phone.png');
            }
            
            &:before {
               
                left: 7.4vw;
                bottom: 15vh;
                background-image: url('../../assets/img/cte-nfe-mdfe.png');
                animation: apps 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                animation-fill-mode: forwards;
                
                @keyframes apps {
                    0% {
                        width: 0;
                        height: 0;
                    }

                    100% {
                        width: 11vw;
                        height: 13vh;
                    }
                }
            }
        }
    }
}

.game__scenario.--step4 {

    .game__truck {
        & {
            left: 26vw;
            z-index: 1;
        }

        &.--guep {
            & {
                left: 52vw;
            }

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:after {
                left: 8vw;
                width: 5vw;
                height: 8vw;
                bottom: 2.8vh;
                left: 9vw;
                background-image: url('../../assets/img/hand-check-phone.png');
            }
        }
    }
}

.game__scenario.--step5 {
    
    .game__scene,
    .game__mountains {
        left: -270px;
    }

    .game__truck {
        
        & {
            left: 66vw;
            z-index: 1;
        }

        &.--guep {
            & {
                left: 78vw;
            }

            &:after,
            &:before {
                content: '';
                display: block;
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:after {
               
                right: 6.2vw;
                bottom: 57vh;
                background-image: url('../../assets/img/sm-averb-xml.png');
                animation: bounceInDown 8s;
                animation-fill-mode: forwards;
                
                @keyframes bounceInDown {
                    from,
                    60%,
                    75%,
                    90%,
                    to {
                      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                  
                    0% {
                      width: 0;
                      height: 0;
                      opacity: 0;
                      -webkit-transform: translate3d(0, -3000px, 0);
                      transform: translate3d(0, -3000px, 0);
                    }

                    to {
                       width: 11vw;
                       height: 13vh;
                      -webkit-transform: translate3d(0, 0, 0);
                      transform: translate3d(0, 0, 0);
                    }
                }
            }
        }
    }
    
}


.game__scenario.--step6 {
    
    .game__scene,
    .game__mountains {
        left: -2260px;
    }

    .game__truck,
    .game__truck.--guep {
        left: 11vw;
        z-index: 1;
    }

}

.game__scenario.--step7 {
    
    .game__scene,
    .game__mountains {
        left: -2500px;
    }

    .game__truck {
        z-index: 1;
    }
    .game__truck.--guep {
        left: 76vw;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 2;
        }

        &:after {
            bottom: -2.8vh;
            left: 0.2vw;
            background-image: url('../../assets/img/smoke.png');
            animation: smoke 8s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
            
            @keyframes smoke {
                from {
                    opacity: 0;
                    height: 0;
                    width: 0;
                }
                
                to {
                    opacity: 1;
                    height: 3vh;
                    width: 3vw;
                }
            }
        }

        &:before {
            left: 8vw;
            width: 5vw;
            height: 8vw;
            bottom: 2.8vh;
            left: 9vw;
            z-index: -1;
            background-image: url('../../assets/img/hand-check-phone.png');
            animation: interation 3s ease-in;
            animation-fill-mode: forwards;
            
            @keyframes interation {
                
                from {
                    width: 0;
                    height: 0;
                }
                
                to {
                    width: 5vw;
                    height: 8vw;
                }
            }
        }
    }

    .game__truck.--concorrente {
        left: 75vw;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 2;
        }
        
        &:after {
            bottom: -2.8vh;
            left: 0.2vw;
            background-image: url('../../assets/img/smoke.png');
            animation: smoke 8s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
            
            @keyframes smoke {
                from {
                    opacity: 0;
                    height: 0;
                    width: 0;
                }
                
                to {
                    opacity: 1;
                    height: 3vh;
                    width: 3vw;
                }
            }
        }

        &:before {
            background-image: url('../../assets/img/caixas.png');
            z-index: 1;
            animation: caixas 5s ease-in;
            animation-fill-mode: forwards;

            @keyframes caixas {
                from {
                    height: 0;
                    width: 0;
                    right: 7vw;
                    bottom: 0vw;
                }

                to {
                    right: 11vw;
                    bottom: -2vw;
                    width: 4vw;
                    height: 6vh;
                }
            }

        }
    }
}

.game__scenario.--step8 {

    .game__truck {
        z-index: 1;
    }

    .game__truck.--guep {
        left: 80vw;
    }

    .game__truck.--concorrente {
        left: 57vw;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 2;
        }

        &:after {
            bottom: -2.8vh;
            left: 0.2vw;
            background-image: url('../../assets/img/smoke.png');
            animation: smoke 8s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
            
            @keyframes smoke {
                from {
                    opacity: 0;
                    height: 0;
                    width: 0;
                }
                
                to {
                    opacity: 1;
                    height: 3vh;
                    width: 3vw;
                }
            }
        }

        &:before {
            content: ' ';
            right: 11vw;
            bottom: -2vw;
            width: 4vw;
            height: 6vh;
            background-image: url('../../assets/img/caixas.png');
            z-index: 1;
            animation: caixas 5s ease-in;
            animation-fill-mode: forwards;
        }
    }
    
    .game__scene,
    .game__mountains {
        left: -2850px;
    }
}

.game__scenario.--step9 {

    .game__truck {
        z-index: 1;
    }

    .game__truck.--concorrente {
        left: -12vw;
    }

    .game__truck.--guep {
        left: 46vw;
    }
    
    .game__scene,
    .game__mountains {
        left: -4390px;
    }
}

.game__scenario.--step10 {

    .game__truck {
        z-index: 1;
    }

    .game__truck.--concorrente {
        left: -12vw;
    }

    .game__truck.--guep {
        left: 46vw;
    }
    
    .game__scene,
    .game__mountains {
        left: -5630px;
    }
}

.game__scenario.--step11 {

    .game__truck {
        z-index: 1;
    }

    .game__truck.--concorrente {
        left: -12vw;
    }

    .game__truck.--guep {
        left: 78vw;

        &:after {
            display: block;
            content: ' ';
            position: absolute;
            width: 6vw;
            height: 8vw;
            bottom: 2.8vh;
            left: 9vw;
            background-image: url('../../assets/img/hand-signature-guep.png');
        }

    }
    
    .game__scene,
    .game__mountains {
        left: -5630px;
    }
}

.game__scenario.--step12 {

    .game__truck {
        z-index: 1;
    }

    .game__truck.--concorrente {
        left: -12vw;
    }

    .game__truck.--guep {
        left: 100vw;
    }
    
    .game__scene,
    .game__mountains {
        left: -5630px;
    }
}

.game__scenario.--step13 {
    
    &:after {
        content: ' ';
        background-size: cover;
        background-position: center;
        background-image: url('../../assets/img/guep-favicon.png');
        background-repeat: no-repeat;
        width: 10vw;
        height: 16vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 50%;
    }

    .game__blur {
        transition: filter 3s ease-in;
        filter: blur(100px);
    }

    .game__truck {
        z-index: 1;
    }

    .game__truck.--concorrente {
        left: -12vw;
    }

    .game__truck.--guep {
        left: 100vw;
    }
    
    .game__scene,
    .game__mountains {
        left: -5630px;
    }
}