//---------------------
// Elementos do Cenário
//---------------------

@mixin animation-objects {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}


.game__quote {
    & {
        display: none;
        position: absolute;
        font-size: 1.7vw;
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        font-weight: 600;
        color: #666666;
        overflow: hidden;
        white-space: nowrap; 
        margin: 0 auto; 
        z-index: 2;
        width: 85vw;
        top: 10vh;
        left: 50%;
        transform: translate(-50%);
    }

    &.--white {
        color: #fff;
    }

    &.--is-active {
        display: block;
        animation: typing 5s steps(400,end);
    }

        @keyframes typing {
            from { width: 0 }
            to { width: 85vw }
        }
}

.game__scenario {
    
    & {
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        z-index: 1;
        background-color: $day;
    }

    &.-is-disabled {
        height: 0;
        width: 0;
    }
}

.game__scene {
    & {
        z-index: -1;
    }
}

.game__scene {
    & {
        z-index: 1;
    }
}

.game__mountains {
    & {
        z-index: 2;
        cursor: pointer;
    }
}

.game__scene,
.game__mountains {
    
    & {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: auto;
        max-width: inherit;
        transition: 5s left;
    }
}


//-------------------------
// Objetos das Cenas
//-------------------------

.game__scenario.--start .game__truck {
    
    & {
        left: 1vw; 
        z-index: 1;
    }
}

.game__scenario.--end .game__truck {
    & {
        left: 112vw;
        z-index: 1;
    }
}

.game__scenario.--step1 {
    
    .game__truck {
        
        & {
            left: 20vw;
        }

        @include tablet-l {
            left: 32vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 19vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 20vw;
        }

        z-index: 1;

        // Ṕesquisa
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/pesquisa.png');
            bottom: 1.8vh;
            left: 9vw;
            animation: pesquisa 3s ease-in;
            animation-fill-mode: forwards;

            @keyframes pesquisa {
                
                from {
                    width: 0;
                    height: 0;
                }
                
                to {
                    width: 5vw;
                    height: 8vw;
                }
            }
        }

        // Score 
        &:before {
            @include animation-objects;
            background-image: url('../../assets/img/score-icon.png');
            bottom: 20vh;
            left: 3vw;
            width: 5vw;
            height: 5vw;

            animation: score 6s ease-in;
            animation-fill-mode: forwards;
            
            @keyframes score {
                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                0% {
                  opacity: 0;
                  -webkit-transform: translate3d(0, -3000px, 0);
                  transform: translate3d(0, -3000px, 0);
                }

                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
            
            
        }
    }

    .game__truck__layer {

        //Cronometro
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/cronometro.png');
            
            bottom: 8vw;
            left: 14vw;

            animation: cronometro 3s ease-in;
            animation-fill-mode: forwards;
            
            @keyframes cronometro {
                
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 4vw;
                    height: 4vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(3000px, 0, 0);
                  transform: translate3d(3000px, 0, 0);
                }
              
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
              }
            
        }
    }

    .game__truck__layer2 {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/placa-score.png');
            animation: placa-score 6s ease-in;
            animation-fill-mode: forwards;
            bottom: 17vw;

            @keyframes placa-score {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 10vw;
                    height: 6vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
              
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

.game__scenario.--step2 {
    
    .game__truck {
        
        & {
            left: 20vw;
        }

        @include tablet-l {
            left: 32vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 19vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 20vw;
        }

        z-index: 1;

        // Ṕesquisa
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/pesquisa.png');
            bottom: 1.8vh;
            left: 9vw;
            animation: pesquisa 3s ease-in;
            animation-fill-mode: forwards;

            @keyframes pesquisa {
                
                from {
                    width: 0;
                    height: 0;
                }
                
                to {
                    width: 5vw;
                    height: 8vw;
                }
            }
        }

        // Score 
        &:before {
            @include animation-objects;
            background-image: url('../../assets/img/score-icon.png');
            bottom: 20vh;
            left: 3vw;
            width: 5vw;
            height: 5vw;

            animation: score 6s ease-in;
            animation-fill-mode: forwards;
            
            @keyframes score {
                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                0% {
                  opacity: 0;
                  -webkit-transform: translate3d(0, -3000px, 0);
                  transform: translate3d(0, -3000px, 0);
                }

                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
            
            
        }
    }

    .game__truck__layer {

        //Check
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/check.png');
            width: 4vw;
            height: 4vw;
            bottom: 8vw;
            left: 14vw;
        }
    }

    .game__truck__layer2 {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/placa-score.png');
            animation: placa-score 6s ease-in;
            animation-fill-mode: forwards;
            bottom: 17vw;

            @keyframes placa-score {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 10vw;
                    height: 6vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
              
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

.game__scenario.--step3 {
    
    .game__truck {
        
        & {
            left: 45vw;
        }

        @include tablet-l {
            left: 62vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 45vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 45vw;
        }

        z-index: 1;

        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/hand-check-phone.png');
            bottom: 1.8vh;
            left: 9vw;
            animation: phone-check 6s ease-out;
            
            @keyframes phone-check {
                
                from {
                    width: 5vw;
                    height: 8vw;
                }
                
                to {
                    width: 0;
                    height: 0;
                }
            }
        }

        &:before {
            @include animation-objects;
            background-image: url('../../assets/img/averb-logo.png');
            bottom: 18vw;
            width: 5vw;
            height: 5vw;
            left: 2.4vw;
            animation-fill-mode: forwards;
            animation: averb 8s;
            
            @keyframes averb {
                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                0% {
                  opacity: 0;
                  -webkit-transform: translate3d(0, -3000px, 0);
                  transform: translate3d(0, -3000px, 0);
                }

                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }

    .game__truck__layer {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/sm-averb-xml.png');
            bottom: 8vh;
            animation: documentos 8s;
            animation-fill-mode: forwards;
            
            @keyframes documentos {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 11vw;
                    height: 7vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
              
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
            
        }
    }

    .game__truck__layer2 {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/placa-embarcador.png');
            animation: embarcador 6s ease-in;
            animation-fill-mode: forwards;
            bottom: 12.3vw;

            @keyframes embarcador {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 10vw;
                    height: 6vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
                            
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

.game__scenario.--step4 {
    
    .game__truck {
        
        & {
            left: 45vw;
        }

        @include tablet-l {
            left: 62vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 45vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 45vw;
        }

        z-index: 1;

        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/sm.png');
            animation-fill-mode: forwards;
            animation: docs-leave 5s ease-out;
            
            @keyframes docs-leave {
                
                0% {
                    bottom: 12vw;
                    left: 2.4vw;
                    width: 4vw;
                    height: 5vw;
                    opacity: 1;
                }

                100% {
                    width: 0;
                    height: 0;
                    bottom: 12vh;
                    left: 36.4vw;
                    opacity: 0;
                }

            }
        }

        &:before {
            @include animation-objects;
            background-image: url('../../assets/img/averb-logo.png');
            animation-fill-mode: forwards;
            animation: averb-leave 5s;
            
            @keyframes averb-leave {
                
                0% {
                    bottom: 18vw;
                    left: 2.4vw;
                    width: 5vw;
                    height: 5vw;
                    opacity: 1;
                }

                100% {
                    width: 0;
                    height: 0;
                    bottom: 24vh;
                    left: 36.4vw;
                }

            }
        }
    }

    .game__truck__layer2 {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/gr.png');
            animation: placa-gr 3s ease-in;
            animation-fill-mode: forwards;
            bottom: 28vw;
            left: 37.4vw;

            @keyframes placa-gr {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 4vw;
                    height: 6vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
                            
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

.game__scenario.--step5 {
    
    .game__scene,
    .game__mountains {
        

        & {
            left: -76vw;
        }

        @include tablet-l {
            left: -116vw;
        }

        @media  screen and (min-width: 1366px) {
            left: -66vw;
        }

        @media  screen and (min-width: 1920px) {
            left: -76vw;
        }
    }

    .game__truck {
        
        & {
            left: 45vw;
        }

        @include tablet-l {
            left: 62vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 45vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 45vw;
        }

        z-index: 1;

        &:before {
            @include animation-objects;
            background-image: url('../../assets/img/app-gpmobi.png');
            bottom: 18vw;
            width: 5vw;
            height: 5vw;
            left: 2.4vw;
            animation: gpmobi 8s;
            animation-fill-mode: forwards;
            
            @keyframes gpmobi {
                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                0% {
                  opacity: 0;
                  -webkit-transform: translate3d(0, -3000px, 0);
                  transform: translate3d(0, -3000px, 0);
                }

                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }

    .game__truck__layer {
        
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/curva-perigosa.png');
            bottom: 1.8vh;
            left: 9vw;
            animation: curva-perigosa 3s ease-in;
            animation-fill-mode: forwards;

            @keyframes curva-perigosa{
                
                from {
                    width: 0;
                    height: 0;
                }
                
                to {
                    width: 5vw;
                    height: 8vw;
                }
            }
        }

        &:before {
            @include animation-objects;
            background-image: url('../../assets/img/speaker.png');
            bottom: 8vw;
            left: 11vw;
            animation: speaker-montanha 6s ease-in;

            @keyframes speaker-montanha {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 5vw;
                    height: 5vw;
                }
            }
        }
    }

    .game__truck__layer2 {
        &:before {
            @include animation-objects;
            background-image: url('../../assets/img/placa-curvas-perigosas.png');
            animation: placa-curvas 5s ease-in;
            animation-fill-mode: forwards;
            bottom: 11.8vw;

            @keyframes placa-curvas {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 10vw;
                    height: 6vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
              
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

.game__scenario.--step6 {
    
    .game__scene,
    .game__mountains {
        

        & {
            left: -106vw;
        }

        @include tablet-l {
            left: -116vw;
        }

        @media  screen and (min-width: 1366px) {
            left: -114vw;
        }

        @media  screen and (min-width: 1920px) {
            left: -106vw;
        }
    }

    .game__truck {
        
        & {
            left: 60vw;
        }

        @include tablet-l {
            left: 62vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 45vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 60vw;
        }

        z-index: 1;
    }

    .game__truck__layer {
        
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/area-indigena.png');
            bottom: 1.8vh;
            left: 9vw;
            animation: area-indigena 3s ease-in;
            animation-fill-mode: forwards;

            @keyframes area-indigena {
                
                from {
                    width: 0;
                    height: 0;
                }
                
                to {
                    width: 5vw;
                    height: 8vw;
                }
            }
        }

        &:before {
            @include animation-objects;
            background-image: url('../../assets/img/speaker.png');
            bottom: 8vw;
            left: 11vw;
            animation: speaker 6s ease-in;

            @keyframes speaker {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 5vw;
                    height: 5vw;
                }
            }
        }
    }

    .game__truck__layer2 {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/placa-area-indigena.png');
            animation: indigena 6s ease-in;
            animation-fill-mode: forwards;
            bottom: 10vw;

            @keyframes indigena {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 10vw;
                    height: 6vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
                            
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}

.game__scenario.--step7 {
    
    .game__scene,
    .game__mountains {
        
        & {
            left: -146vw;
        }

        @include tablet-l {
            left: -236vw;
        }

        @media  screen and (min-width: 1366px) {
            left: -114vw;
        }

        @media  screen and (min-width: 1920px) {
            left: -146vw;
        }
    }

    .game__truck {
        
        & {
            left: 62vw;
        }

        @include tablet-l {
            left: 62vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 85vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 62vw;
        }

        z-index: 1;
    }

    .game__truck__layer2 {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/placa-almoco.png');
            animation: almoco 6s ease-in;
            animation-fill-mode: forwards;
            bottom: 10vw;

            @keyframes almoco {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 10vw;
                    height: 6vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
                            
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }

}

.game__scenario.--step8 {
    
    .game__scene,
    .game__mountains {
        
        & {
            left: -219vw;
        }

        @include tablet-l {
            left: -310vw;
        }

        @media  screen and (min-width: 1366px) {
            left: -180vw;
        }

        @media  screen and (min-width: 1920px) {
            left: -219vw;
        }
    }
    
    .game__truck {
        
        & {
            left: 28vw;
        }

        @include tablet-l {
            left: 28vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 67vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 28vw;
        }

        z-index: 1;

        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 2;
        }
    }

    .game__truck__layer2 {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/placa-pernoite.png');
            animation: placa-pernoite 6s ease-in;
            animation-fill-mode: forwards;
            bottom: 10vw;

            @keyframes placa-pernoite {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 10vw;
                    height: 6vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
                            
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }

}

.game__scenario.--step9 {
    
    .game__scene,
    .game__mountains {
        
        & {
            left: -219vw;
        }

        @include tablet-l {
            left: -310vw;
        }

        @media  screen and (min-width: 1366px) {
            left: -180vw;
        }

        @media  screen and (min-width: 1920px) {
            left: -219vw;
        }
    }

    .game__truck{
        z-index: 1;
        left: 75vw;

        & {
            left: 55vw;
        }

        @include tablet-l {
            left: 55vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 84vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 55vw;
        }


        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 2;
        }
        
        &:after {
            bottom: -2.8vh;
            left: 0.2vw;
            background-image: url('../../assets/img/smoke.png');
            animation: smoke 8s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
            
            @keyframes smoke {
                from {
                    opacity: 0;
                    height: 0;
                    width: 0;
                }
                
                to {
                    opacity: 1;
                    height: 3vh;
                    width: 3vw;
                }
            }
        }

        &:before {
            background-image: url('../../assets/img/caixas.png');
            z-index: 1;
            animation: caixas 5s ease-in;
            animation-fill-mode: forwards;

            @keyframes caixas {
                from {
                    height: 0;
                    width: 0;
                    right: 7vw;
                    bottom: 0vw;
                }

                to {
                    right: 11vw;
                    bottom: -2vw;
                    width: 4vw;
                    height: 6vh;
                }
            }

        }
    }
    
    .game__truck__layer {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/nfe.png');
            animation: nota-fiscal 2s ease-in;
            animation-fill-mode: forwards;
            bottom: 5vw;

            @keyframes nota-fiscal {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    height: 5vw;
                    width: 5vw;
                }
            }
        }
    }

    .game__truck__layer2 {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/placa-regulador-de-sinistro.png');
            animation: placa-sinistro 6s ease-in;
            animation-fill-mode: forwards;
            bottom: 10vw;

            @keyframes placa-sinistro {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 10vw;
                    height: 6vw;
                }

                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
                            
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }

        &::before {
            @include animation-objects;
            background-image: url('../../assets/img/flash.png');
            bottom: -16vw;
            animation: flash 3s ease-in;
            animation-fill-mode: forwards;
            
            @keyframes flash {
                from {
                    width: 0;
                    height: 0;
                }
                
                to {
                    width: 10vw;
                    height: 16vw;
                }
            }
        }
    }
    
}





.game__scenario.--step10 {
    
    .game__scene,
    .game__mountains {
        
        & {
            left: -274vw;
        }

        @include tablet-l {
            left: -390vw;
        }

        @media  screen and (min-width: 1366px) {
            left: -228vw;
        }

        @media  screen and (min-width: 1920px) {
            left: -274vw;
        }
    }

    .game__truck {
        
        & {
            left: 72vw;
        }

        @include tablet-l {
            left: 75vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 72vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 72vw;
        }

        z-index: 1;
    }

    .game__truck__layer2 {
        &:after {
            @include animation-objects;
            background-image: url('../../assets/img/carga.png');
            z-index: -1;
            animation: carga-transporte 5s ease-in;
            animation-fill-mode: forwards;
            
            @keyframes carga-transporte {
                from {
                    height: 0;
                    width: 0;
                    right: 7vw;
                    bottom: 0vw;
                }
                
                to {
                    right: 11vw;
                    bottom: -2vw;
                    width: 4vw;
                    height: 6vh;
                }
            }
        }
    }


}

.game__scenario.--step11 {
    
    .game__scene,
    .game__mountains {
        
        & {
            left: -293vw;
        }

        @include tablet-l {
            left: -410vw;
        }

        @media  screen and (min-width: 1366px) {
            left: -237vw;
        }

        @media  screen and (min-width: 1920px) {
            left: -293vw;
        }
    }

    .game__truck {
        
        & {
            left: 80vw;
        }

        @include tablet-l {
            left: 82vw;
        }

        @media  screen and (min-width: 1366px) {
            left: 82vw;
        }

        @media  screen and (min-width: 1920px) {
            left: 80vw;
        }

        z-index: 1;
    }

    .game__truck__layer2 {
        &:before {
            @include animation-objects;
            background-image: url('../../assets/img/placa-comprador.png');
            animation: placa-score 6s ease-in;
            animation-fill-mode: forwards;
            bottom: 17vw;
        
            @keyframes placa-score {
                from {
                    width: 0;
                    height: 0;
                }
        
                to {
                    width: 10vw;
                    height: 6vw;
                }
        
                from,
                60%,
                75%,
                90%,
                to {
                  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
                }
              
                from {
                  opacity: 0;
                  -webkit-transform: translate3d(0, 3000px, 0);
                  transform: translate3d(0, 3000px, 0);
                }
              
                to {
                  -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
                }
            }
        }
    }
}
