
.row{
    width: 1140px;
    height: 40px;
    margin: 0 auto;
}

.block{
    @include grid( 4 );

    &{
        background: #fff;
    }

}

.block__element{

    &{
        background: #fff;
    }

}

.block__element--first,
.block__element--second,
.block__element--third{
    @extend .block__element;
}

.block__element--second{
    @include tablet-l{
        @include grid_col( 2 );
    }
}


//-----------------------------------
// Exemplo de inputs
//-----------------------------------


.exemplo{
    @include grid( 2 , $grid-limit: 960px );
    margin-top: 30px;
}

.ipt-text,
.ipt-email,
.ipt-number,
.ipt-pass{
  @include input();
  width: 100%;
}

.ipt-btn{
    @include input-btn();
}

.ipt-label{
    display: block;
    margin-bottom: 10px;
}

.ipt-group{
    @include input_errors();

    &.-fill{
        @include grid_col( 2 );
    }
}

.btn{
    @include input_btn();
}


//-----------------------------------
// Exemplo de first letter
//-----------------------------------

body > p{
    max-width: 1140px;
    margin: 10px auto;

    &:first-of-type{
        @include first-letter( 350% , 0.5 , purple );
    }
}