//---------------
// Caminhão GUEP
//---------------

.game__truck {
    & {
        position: absolute;
        bottom: 21.8vh;
        left: -12vw;
        z-index: -1;
        width: 12vw;
        height: auto;
        will-change: transition;
        transition: 5s left;
    }

    &.--guep {
        & {
            bottom: 20.4vh;
        }
    }
}

.truck__animation--a,
.truck__animation--b {
    
    &::before,
    &::after {
        content: ' ';
        position: absolute;
        top: 4vw;
        background-position: center center;
        background-size: cover;
        background-repeat: repeat;
        width: 1.5vw;
        height: 1.5vw;
        will-change: transition;
        transition: 2s animation;
    }
}


.truck__animation--a {
        
    &::after {
        left: 8.9vw;
        background-image: url('../../assets/img/truck-wheel.png');
        transition: 2s animation;
    }
}

.truck__animation--b {
    
    &::after,
    &::before {
        background-image: url('../../assets/img/truck-wheel.png');
        transition: 2s animation;
    } 

    &::after {
        left: 3.6vw;
        transition: 2s animation;
    }

    &::before {
        left: 1.7vw;
        transition: 2s animation;
    }
}

.truck__structure {
    & {
        display: block;
        position: relative;
        margin-bottom: -2vh;
        width: 12vw;
        z-index: 1;
    }
}


.game.--driving .truck__animation--a,
.game.--driving .truck__animation--b {

    &::after,
    &::before {
        will-change: transition;
        transition: 2s animation;        
        animation: spin 2s linear infinite;

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}