//---------------
// Caminhão GUEP
//---------------

.game__truck {
    & {
        position: absolute;
        bottom: 18vh;
        left: -12vw;
        z-index: -1;
        width: 12vw;
        height: auto;
        will-change: left;
        transition: 5s left;
    }
}

.game__structure {
    position: relative;
    margin-bottom: -1.4vh;
    width: 12vw;
}

.game__wheels {
    & {
        position: relative;
        z-index: -1;
        width: 12vw;
        height: auto;
        margin-left: 2.1vw;
    }
}

.truck__wheel {
    
    & {
        width: 1.5vw;
        height: auto;
        transition: 2s animation;
    }

    &.--b {
        margin-right: 3.4vw;
    }
}

.game.--driving .truck__wheel {

    & {
        transition: 2s animation;        
        animation: spin 2s linear infinite;

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
}

.game.--start .game__truck {
    & {
        left: 8vw;
        z-index: 1;
    }
}

.game.--end .game__truck {
    & {
        left: 112vw;
        z-index: 1;
    }
}